@model ASPNET_HHRR_Vacations.Models.UserCredential

@{
    ViewData["Title"] = "Login";
}

<header class="text-center">
    <h1>@ViewData["Title"]</h1>
</header>

<hr />
<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm("Credentials", "Login", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                <div class="d-flex gap-2">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeHolder = "john_doe" })
                    <p>@@enterprise.com</p>
                </div>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                @Html.DisplayNameFor(model => model.PasswordHash)
                @Html.PasswordFor(model => model.PasswordHash, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        }

    </div>
</div>

<div class="mt-5">
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
